<div class="footer-container">

    <div class="footer">
        <img src="/assets/img/mlh-prep.png" class="logo_image" width="200px" height=auto />
        <div class="right-section">
            <div class="list">
                <!-- <p class="item"><a class="item" href="{{ '/blog' }}" style="color:white">Blog</a></p> -->
                <p class="item"><a class="item" href="/#description" style="color:white">About</a></p>
                <p class="item"><a class="item" href="/#profile" style="color:white">Meet the pod</a></p>
                <p class="item"><a class="item" href="/#projects" style="color:white">Projects</a></p>
            </div>
            <div class="social-links">
                <a href="https://www.linkedin.com/school/mlh-fellowship/" class="links" style="color:white"><em
                        class="fab fa-linkedin fa-lg links"></em></a>
                <a href="https://www.instagram.com/mlhacks/"><em class="fab fa-instagram fa-lg links" class="links"
                        style="color:white"></em></a>
                <a href="https://twitter.com/MLHacks?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                    class="links" style="color:white"><em class="fab fa-twitter fa-lg links"></em></a>
                <a href="https://www.facebook.com/MajorLeagueHacking"><em class="fab fa-facebook fa-lg links"
                        class="links" style="color:white"></em></a>
                <a href="https://www.youtube.com/c/Majorleaguehacking"><i class="fab fa-youtube fa-lg links"
                        class="links" style="color:white"></i></a>
            </div>
        </div>
    </div>
    <hr />
    <p class="des">Made with ❤️ by Hacking Hayenas </p>

</div>