
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'leaderboard';
@import 'blogs';
@import 'description';
@import "fireflies";
@import 'fellow';
@import 'map';
@import 'footer';

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

body {

  background-color: #f5f5f9;
  //margin-bottom: 50px;

}
h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 30px;
  background-color: white;
  border-radius: 0.375rem;
  padding: 1.5em;
  font-size: 1.2em;
}

a {
  color: black;
}

.info {
  p {
    margin-top: 5px;
    margin: 0px;
    text-align: left;
  }

  .title {
    font-size: 500;
    font-weight: bold;
  }

  .location,
  .description {
    font-size: medium;
    font-weight: 400;
  }

  .dates {
    font-size: small;
    color: #404040;
  }
}

.icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding: 10px;

  img {
    width: 100%;
  }
}

.project-card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 3vh;
}

.project-card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: rgb(18,54,103);
  border-radius: 20px 20px 0 0;
}

.project-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.project-image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: rgb(18,54,103);
}

.project-image:hover {
  box-shadow: 0px 0px 20px -3px black;
  transition-duration: 0.3s;
}

.project-image > a > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.project-link {
  text-align: center;
}

.project-link > a{
  text-decoration: none;
}

.info > p{
  text-align: center;
}