@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

.pod-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.profile-card {
	width: 340px;
	height: max-content;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    margin: 30px;
}

.profile-card-header{
	&:hover > .profile-image{
		transform: rotate3d(0, 1, 0, 3.142rad);
	}
}

.profile-image {
	position: relative;
	top: -60px;
	border-radius: 1rem;
	background-image: url(https://avatars.githubusercontent.com/u/78658727?v=4);
	width: 11rem;
	height: 11rem;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
	transition: transform 0.9s ease;

}

.profile-info {
	text-align: center;
	margin-top: -3rem;
	margin-bottom: 1rem;
}

.profile-info > .profile-name {
	color: #212121;
}

.profile-info > .profile-desc {
	color: #666666;
	font-size: 0.9rem;
}

.status {
	list-style: none;
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 1rem;
	margin-bottom: 1.3rem;
	li{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.status-value {
	color: #212121;
	font-weight: 700;
}

.status-text {
	font-size: 0.8rem;
	color: #7c7c7d;
}

.profile-card-body{
	width: 50%;
}

.action {
	display: flex;
	justify-content: space-between;
	margin: 20px;

	a{
		font-size: 20px;
		text-decoration: none;
		transition: all 0.1s ease;

		&:hover {
			transform: scale(1.5);
		}
	}
}

.btn {
	border: none;
	padding: 0.8em 1.9em;
	border-radius: 0.35rem;
	cursor: pointer;
	font-weight: 600;
}

.btn-pink {
	background: #b82151;
	color: white;
}

.btn-gray-outline {
	border: 1px solid;
	background: transparent;
	color: #b82151;
}
